<% provide(:title, 'Rules') %>
<h1>Rules</h1>
<p>Welcome to the 356 Registry Classifieds. <strong><em>The following rules are in place for the benefit of all.</em> </strong><strong><em>We take the position that you have read and understood all of them <span style="text-decoration: underline;">before</span> you post to our site.</em></strong> <em> The classifieds are actively moderated and ads whic</em><em>h do not adhere to the rules will be deleted without warning. No whining please! <br /></em><em><br />The Classifieds Moderator has final say on suitability of any user postings or “gray areas”. We reserve the right to delete incorrectly posted, unclear, confusing, or suspicious ads with out notice. The right to edit or refuse publication of any ad is also reserved; the 356 Registry is not responsible for errors, omissions or misrepresentation. Thank You.</em><br /><strong> <br />Ads are neither held in a queue for review nor delayed. They are immediately posted when you send it and should be seen in real time. If you are having difficulty placing an ad and get messages such as "invalid token", or your system times out, or you see other error messages, or your ad does not post when you attempt to submit after clicking the button,<span style="text-decoration: underline;"> PLEASE READ THE FAQ section first,</span> for information and suggested corrections from our tech guys to resolve your posting issue.</strong></p>
<ul>
<li><strong>Please ensure you <span style="text-decoration: underline;">SELECT THE CORRECT CATEGORY ITEM</span> from the pull down menu to list your item when composing your ad; properly <span style="text-decoration: underline;">IDENTIFY YOURSELF AS VENDOR OR PRIVATE PARTY</span>; clearly <span style="text-decoration: underline;">IDENTIFY YOUR LOCATION</span>, preferably with a zip code. We ask that you DO NOT publish your contact information in the body of your ad, so only registered members will be able to contact you using the other ad format features. <br /><br /></strong>-The <strong><em><span style="text-decoration: underline;">356 Cars</span></em></strong> category is only for vehicles manufactured by Porsche with an authentic 356 chassis number; or other Porsche cars built when the 356 was in production (e.g. 550, Beutler, RSK) with authentic Porsche factory numbers.</li>
</ul>
<p> </p>
<ul>
<li>-The <strong><em><span style="text-decoration: underline;">356 Parts/Accessory</span></em></strong> category is only for specific 356 parts or other parts which are reasonably useable on 356s, e.g. 912 engine parts, 4.5-6"  Fuchs wheels (this does not include wider Fuchs, 944 "outlaw" wheels etc will fall into the all other parts/cars/lit category). Porsche parts pre-1970 are considered being "reasonably useable" on a 356. This also includes accessories which are appropriate for a 356 and are of the era. Although there is some commonality in VW parts used in limited, specific places on 356's; please do not list parts that are clearly VW and do not crossover as a legitimate 356 part. Please, no replicar/kit car parts either.</li>
</ul>
<p> </p>
<ul>
<li>-The <span style="text-decoration: underline;"><strong><em>356 Literature/Memorabilia</em></strong> </span>category is only for literature and unusual or authentic collectible items which are related to 356 production or are of the 356 era of Porsche (48-65). Reproduction items must be clearly labeled as reproduction literature or reproduction memorabilia. ALL badges, dash plaques, insignia, club or racing badges, and the like must be of the period ONLY (1948-65, unless they are Holiday or registry produced badges) and MUST BE 356 SPECIFIC, and <span style="text-decoration: underline;">they may not be listed individually</span> if you have more than one to sell....they must all be grouped and ALL listed in one ad.</li>
</ul>
<p> </p>
<ul>
<li>-The <span style="text-decoration: underline;"><strong><em>For Sale Linked Ads</em></strong> </span>category must be used if the ad directs the reader to another website where the item is for sale (exception is for some photo post site that is just photos and is not connected to a commercial website), it must include a link to the item. <span style="text-decoration: underline;">If you have multiple items then you must list them ALL in one ad on this site in Linked Ads.</span> A general item of interest such as a car or part or something 356 related that you've seen on another site and wish to share must also include a link to the item...and it is not a link someone else has posted for the same item regardless of item ownership or site location. </li>
</ul>
<p> </p>
<ul>
<li>-The <em><strong><span style="text-decoration: underline;">Other Porsche Cars/Parts/Lit & Memorabilia</span></strong> </em>category<em> </em>is for all other Porsche production cars, tractors, parts, literature & memorabilia listings. NOTE: This section  is for everything else that is Porsche only with legitimate authentic factory chassis/serial numbers/VIN (including the old Porsche tractors of the same vintage); but is not 356. It is not, however, a "catch all" list. </li>
<li>  - Please do not list any type of non-Porsche item or kit car/replicar or kit related parts or literature. ALL other ad & content rules for posting on the site apply to this category also.  </li>
<li>  - ALL badges, dash plaques, insignia, club or racing badges, and the like MUST BE PORSCHE SPECIFIC, and <span style="text-decoration: underline;">they may not be listed individually</span> if you have more than one to sell....they must all be grouped and ALL listed in one ad.</li>
</ul>
<p> </p>
<ul>
<li><strong>Vendors vs Private Party (General): </strong>-If the individual submitting the ad is affiliated in any way with a commercial business (either selling or wanting to buy an item or acting as a broker or agent for a customer, a business associate, or a friend,), then "Vendor" must be selected from the "Private Party/Vendor" option when placing the ad. If you are actively engaged in the buying & selling/reselling of cars & also parts or actively involved in the manufacture, restoration of, distribution of, or assembly of kits, parts and any other related item, even though you may not have a "brick and mortar" shop or a business license, please consider yourself a vendor. Private party is primarily for guys cleaning out their garage and shelves of collected stuff over the ages, or selling their excess restoration items, or their own personal car.</li>
</ul>
<p> </p>
<ul>
<li><strong>Posting Information (General): </strong>- Please do not post common and readily available items such as oil, grease, filters, a single bulb, tune up parts, additives, shop supplies, etc; and non 356 specific items like car covers or any generic type automobile accessories, devices, or parts. Do not list to-scale models, plastic or metal kits, dioramas or displays, or toy cars or toy literature/books of any kind. <span style="color: #000000;">Catch all want to buy ads are prohibited.</span></li>
</ul>
<p> </p>
<ul>
<li> -Do not attempt to run an "auction", that is what  Ebay is for. Set a price for your item and honor it. You can ask for best offer under these conditions:<span style="mso-spacerun: yes;">  </span>Set a price you are willing to accept – “Or Best Offer” generally indicates a willingness to accept a lower price if no-one meets your set price.<span style="mso-spacerun: yes;">  </span>If you set a price of <span style="mso-spacerun: yes;">  </span>$100.00 and someone offers $100.00 you must accept it, Refusing the offer at your set price and angling for higher offers constitutes an auction.<span style="mso-spacerun: yes;">  </span>Reported instances of this will result in deletion</li>
</ul>
<p> </p>
<ul>
<li>-Ads are automatically removed after 60 days, at which time the member is free to renew the ad. Our software should send you a prompt before your ad expires asking if you wish to renew or delete the ad. Follow the directions in the prompt for this simple renew/delete process. </li>
</ul>
<p> </p>
<ul>
<li>-Do not 'bump' your ads prior to their expiration date, they will be deleted if bumping is observed by the moderator or reported by another user.</li>
</ul>
<p> </p>
<ul>
<li>-Please include photos of the item for sale when possible. See “Classified FAQs” if you are having trouble with photos. Do not knowingly use copyrighted items unless you have permission to use them. Please delete your ad when an item is sold. You can do this by logging in and going to <em>>My Ads</em> link on the Classifieds page.</li>
</ul>
<p> </p>
<ul>
<li>-Do not post ads selling titles or ownership documents of any kind, original chassis number (VIN) plates, hinge plates, or any VIN stamped parts, number stamping services, or tools for stamping VIN or engine numbers, or for copying or obtaining titles or ownership papers of any kind, or copyrighted items.</li>
</ul>
<p> </p>
<ul>
<li>-Do not post ads for any "kit, replica, tribute, or re-creation cars", or literature or parts specific to replicas, i.e. non-Porsche cars which look like 356s. Only legitimate VIN 356's are permitted.</li>
</ul>
<p> </p>
<ul>
<li>-Do not post the same ad in multiple categories (no cross posting between categories). Also, please do not post parts in the Cars for Sale section and vice versa, etc.</li>
</ul>
<p> </p>
<ul>
<li><em><span style="text-decoration: underline;">-Want to buy car ads:</span> </em><em>Want to buy car ads are restricted to 356 cars only. All previous type and style restrictions about catch all ads under the old rules have been removed. You can not have more than ONE Want to Buy ad running during any 30 day period.  Bumping and deleting Want to Buy ads is strictly prohibited. You should renew them when the computer sends you the automatic reminder before ad expiration.  Remember, even though you ad moves down as all other posted ads when you click the "all ads" option, your Wanted ad is still prominently seen in the Cars category.</em></li>
</ul>
<ul>
<li><em><span style="text-decoration: underline;">-Wan</span><span style="text-decoration: underline;">t to trade section: </span></em><em><span style="color: black; mso-themecolor: text1; font-style: normal; mso-bidi-font-style: italic;">Want to trade ads are limited to propositions that are reasonable in scope. A perfect example would be wanting to trade<span style="mso-spacerun: yes;">  </span>“XX”/”XX” dated wheels for “YY”/”YY’ dated wheels.<span style="mso-spacerun: yes;">  </span>Do not post unreasonable requests like “WTT” S-90 Heads for 4 Cam heads.</span></em></li>
</ul>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .5in;"><em><span style="color: black; mso-themecolor: text1; font-style: normal; mso-bidi-font-style: italic;">All WTT ads must be 356 specific – NO want to trade 1989 911 for C Cabriolet<span style="mso-spacerun: yes;">  </span>type ads will be permitted.</span></em></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .5in;"><em><span style="color: black; mso-themecolor: text1; font-style: normal; mso-bidi-font-style: italic;">Do not post blanket ads like “30 year collection what do you have- I will tell you what I have to trade”</span></em></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .5in;"><em><span style="color: black; mso-themecolor: text1; font-style: normal; mso-bidi-font-style: italic;">Posting an ad in the WTT Section prohibits you from posting the same item in any other section as a for sale item.</span></em></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: .5in;"><em><span style="color: black; mso-themecolor: text1; font-style: normal; mso-bidi-font-style: italic;">Please be specific. If you want to trade you obviously have something you want or need, state what it is and what like/similar items you have to offer.<span style="mso-spacerun: yes;">  </span>In creating <span style="mso-spacerun: yes;"> </span>this new section of the classifieds it is understood that everything may not be black and white.<span style="mso-spacerun: yes;">  </span>The moderator has the final say on appropriate content/ scope of posts, do not push the envelope.</span></em></p>
<ul>
<li><em>-<span style="text-decoration: underline;"> DO NOT TYPE YOUR SUBJECT LINE IN ALL CAPITAL LETTERS</span></em>, or selectively use caps to highlight a portion of your title text (such as ELECTRIC SUNROOF), or use repetitive punctuation like "!!!@@ LOOK @@!!!" or !!!WOW!!! **RARE** in the subject line of your post. <span style="color: black; mso-themecolor: text1;">Exceptions are:<span style="mso-spacerun: yes;">  </span>Acronyms: NOS, WTB, etc. and if you have tentatively sold your item, "sale pending" or some notice of sale may be marked in caps. <strong style="mso-bidi-font-weight: normal;">When the transaction is complete, delete your ad</strong>. <span style="mso-spacerun: yes;"> </span></span></li>
</ul>
<ul>
<li><strong><em>-</em><em> Do not p</em></strong><strong>ost ads for any type of generic services, employee announcements or associations, transportation/hauling, driving schools or services, garage sales, swap meets, events or tickets to events, lottery tickets or raffle items or chances;novelty candy, novelty drinks, or alcoholic beverages of any kind to include those with Porsche type labels or shapes; stamps, artwork, post cards, watches, jewelry and brooches/pins, Tequipment, furniture, banners, and any type recent "boutique items or collectibles" like ceramics, hat & lapel pins, belt buckles, crystal items, tableware and cups or glasses, dishes, wall hangings, paperweights, awards and trophys, patches & generic badge items, statues or other art forms, trinkets, tags, models, flags, bags, tags, wallets, totes, notebooks, journals and pens & pencils, designer clothing and such even though it may have a 356 or other Porsche content; garage or property rental places, storage or parking, trailers of any kind, real estate, bulk items; and regional club items and grill badges, as well as no generic Porsche auto & personal boutique type items, or general transportation items, or generic  & common auto, artwork, watches, toys, license plates, gasoline or transportation collectibles.</strong><br /><br />If the description of the part for sale or its application is in error, please feel free to <span style="text-decoration: underline;">politely</span> point this out to the seller. This can be accomplished privately through email by clicking the send email item in the ad.  </li>
</ul>
<p><strong>NOTICE</strong>: The 356 Registry has no ability to mediate transactions and the <span style="text-decoration: underline;">only</span> recourse will be to ban further postings by anyone receiving multiple complaints. <br /><br />The following transaction guidelines were listed in the 356 Registry magazine for many years. We encourage you to follow them. (See the <strong>NOTICE</strong> above, hence these guidelines are on the honor system.)</p>
<ol>
<li>Seller will ship item within 7 days of receipt of payment. If buyer pays with personal check, seller will ship within 7 days after check is honored.</li>
<li>If buyer is not satisfied with the Item, buyer may return Item at buyer's expense. Within 7 days of return of Item in same condition as received by buyer, seller will refund the price.</li>
<li>Seller assumes risk of non-delivery when Item is shipped to buyer. Buyer assumes risk of non-delivery when item is returned to seller. It is suggested to use delivery confirmation and insurance.</li>
<li>Unless otherwise stated, cost of shipping will be in addition to item price.</li>
<li>By placing advertisements on the 356 Registry web site, seller agrees to honor these conditions. By ordering, buyer agrees to honor these conditions.</li>
</ol>
<p>All postings are currently free of charge. We reserve the right to delete incorrectly posted, unclear, confusing, or suspicious ads with out notice as well as to update our rules section for clarification, as necessary. The 356 Registry Goodie Store, the official club store, is exempt from normal posting restrictions regarding clothing, accessory, and boutique items. The right to edit or refuse publication of any ad is reserved; the 356 Registry is not responsible for errors, omissions or misrepresentation. Thank You.</p>
